@page
@model Sports_Management_System.Pages.Dashboards.ClubRepresentative.ClubInfo.SentRequestsModel
@{
    Layout = "~/Pages/Shared/_ClubRepLayout.cshtml";
}
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Sent Requests</h2>
    </div>
    <br />
    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.HostClubs.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table table-secondary">
                        <th>
                            <label>Host Club</label>
                        </th>
                        <th>
                            <label>Guest Club</label>
                        </th>
                        <th>
                            <label>Start Time</label>
                        </th>
                        <th>
                            <label>Stadium Name</label>
                        </th>
                        <th>
                            <label>Status</label>
                        </th>
                    </tr>
                    @for (int i = 0; i < Model.HostClubs.Count; i++)
                    {
                        var HostClub = Model.HostClubs.ElementAt(i);
                        var GuestClub = Model.GuestClubs.ElementAt(i);
                        var StartTime = Model.StartTimes.ElementAt(i);
                        var Stadium = Model.Stadiums.ElementAt(i);
                        var Status = Model.Statuses.ElementAt(i);
                        <tr>
                            <td>
                                @Html.DisplayFor(m => HostClub)
                            </td>
                            <td>
                                @Html.DisplayFor(m => GuestClub)
                            </td>
                            <td>
                                @Html.DisplayFor(m => StartTime)
                            </td>
                            <td>
                                @Html.DisplayFor(m => Stadium)
                            </td>
                            @if(Status == "accepted") {
                                <td style="background-color:green;">
                                    @Html.DisplayFor(m => Status)
                                </td>
                            }
                            else if (Status == "rejected")
                            {
                            <td style="background-color:red;">
                                @Html.DisplayFor(m => Status)
                            </td>
                            }
                            else{
                            <td style="background-color:aqua;">
                                @Html.DisplayFor(m => Status)
                            </td>
                            }
                        </tr>
                    }
                </table>
            }
            else
            {
                <br />
                <h4>No Sent Requests.</h4>
            }
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/bookList.js"></script>
}
